@import "../../styles/colors.scss";

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .page-content {
    display: flex;
    flex-direction: column;

  }
}

.results-shown {
  align-items: flex-start;
}