@import "../../styles/colors.scss";

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid red;

  .page-content {
    display: flex;
    flex-direction: column;

  }
}