@import "../../styles/colors.scss";

.modal-custom {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    border-radius: 20px;
    background: linear-gradient(-45deg, $lighter-grey, $light-grey, $aqua, $white);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
    }
  }

  .header {
    border-bottom: none;

    @media screen and (max-width: 425px) {
      padding-bottom: 0;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal-details {
      display: flex;
      flex-direction: column;
      align-items: center;

      .modal-image {
        border-radius: 20px;
        margin-bottom: 10px;
        max-height: 300px;
        max-width: 300px;

        @media screen and (max-width: 425px) {
          height: 200px;
        }
      }

      .modal-song-title {
        font-size: 1.25rem;
        font-weight: bold;
        overflow: hidden;
      }

      .modal-artist {
        margin-bottom: 10px;
        font-size: 1rem;
        color: $medium-grey;
      }
    }

    .audio-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;

      .controls-blank {
        width: 30px;
        margin: auto 5px;
      }

      button {
        margin: auto 5px;
        border: none;
        background: none;
        font-size: 2rem;
        border-radius: 50%;
        width: 30px;
        color: $white;
        
        &:hover {
          color: black;
        }
      }

      .player-audio {
        max-width: 60vw;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .close-icon {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 $white;
    &:hover {
      box-shadow: none;
    }
  }
}
.share-wrapper {
  padding: 5px;

  > button {
    margin: 5px;
  }
}